:root {
    --gray: #aaa;
}

.about-us h1 {
    margin-top: 100px;
    text-align: center;
}

h5 {
    text-align: left;
    font-size: 30px;
    position: relative;
}

.our-approach::after, .our-process::after, .our-vision::after {
    display: block;
    content: '';
    height: 5px;
    background: black;
    position: absolute;
    bottom: -10px;
    left: 0;
    background-color: var(--gray);
}

.our-approach::after {
    width: 185px;
}

.our-process::after {
    width: 160px;
}

.our-vision::after {
    width: 140px;
}

.param p {
    text-align: left;
    margin-top: 20px;
}

.row {
    margin-top: 80px;
}

/**
Style for accordion
**/

/* Style the buttons that are used to open and close the accordion panel */

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}

.panel.show {
    display: block;
    transition: all 0.5s cubic-bezier(1,0,1,0);
}
.plus-icon{
    font-size: 20px;
}

/* .faq-section{
    margin: 0;
  position: absolute;
  bottom: 0%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
} */