.footer ul li{
    list-style: none;
}

.footer{
    padding-top: 20px;
}

.footer .col p{
    color: #fff;
    margin-left: 2rem;
}

a:not([href]):not([class]){
    color: rgba(255,255,255,.55);
    text-decoration: none;
}

a:not([href]):not([class]):hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.social-media-icons li a{
    font-size: 30px;
    margin-right: 15px;
}

.copyright p{
    border-top: rgba(255,255,255,.55);
}

.copyright::before{
    display: block;
    content: '';
    height: 1px;
    background: rgba(255,255,255,.55);
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: -15px;
}

ul li a{
    text-decoration: none;
    color: rgba(255,255,255,.55);
}

ul li a:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}