.tab-products{
    margin-top: 100px;
    margin-bottom: 30px;
}

.dropdown-menu{
    height: 50 px;
   overflow-y: scroll;
}

.tab-products.css-1n3h4wo{
    height: auto;
}

.product-lists .row{
    margin-top: 15px;
}

.card-title a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.product-card.card{
    border: none;
}

.product-card.card:hover{
    border: 1px solid rgba(0,0,0,.125);
}

.hearts{
    font-size: 25px;
    color:rgb(182, 173, 173);
     outline: none;
     cursor: pointer;
     position: absolute;
     margin: 5px;
     right: 0;
 }

 .hearts:hover,.total-sold-products{
        color: rgb(192, 39, 39);
        font-weight: 500;
 }

 .hearts.active {
    color: rgb(192, 39, 39);
    background-color: none;
   }