.get-inspired-images{
    width: 400px;
    height: 400px;
}

.slick-prev:before, .slick-next:before{
    color: black;
    font-size: 30px;
    z-index: 1;
}

.slick-prev:before{
    margin-right: 50px;
}

.get-inspired h5{
    margin-bottom: 35px;
}

.top-products-catagory{
 margin-top: 30px !important;
}

.top-products-catagory li{
    list-style: none;
    margin: 0 15px;
	list-style-type: none;
}

.product-card{
    position: relative;
}

.top-product{
	position: absolute;
	display: inline-block;
	background: orange;
	color: white;
	height: 2.5rem;
	width: 2.7rem;
	text-align: center;
	vertical-align: middle;
	line-height: 2.5rem;
	animation: beat 1s ease infinite alternate;
    z-index: 9;
	&:before,
	&:after {
		content:"";
		position: absolute;
		background: inherit;
		height: inherit;
		width: inherit;
		top: 0;
		left: 0;
		z-index: -1;
		transform: rotate(30deg);
	}
	&:after {
		transform: rotate(60deg);
	}
}

@keyframes beat {
	from { transform:  scale(1); }
	to { transform: scale(1.1); }
}

.top-products-catagory li{
	cursor: pointer;
}

.total-sold-products{
	margin-right: 50px;
}

.sale-icon{
	color: red;
	font-size: 18px;
}

.quantity-group{
	margin-left: 20px;
}

.get-inspired-images{
	margin-left: 10px;
}

@media screen and (min-width: 500px) {
	.get-inspired-images{
		width: 220px;
		height: 220px;
	}
  }
@media screen and (min-width: 769px) {
	.get-inspired-images{
		width: 300px;
		height: 300px;
	}
  }

  @media screen and (min-width: 1025px) {
	.get-inspired-images{
		width: 400px;
		height: 400px;
	}
  }
  
