.navbar-brand.active, .nav-link.active{
    background-color: inherit;
}

.navbar{
    padding: 10px 0;
}

.search-navbar{
    padding: 0 15px;
    display: flex;
    align-items: center;
    border: 1px solid aqua;
    border-radius: 3px;
}

.search-navbar__icon{
    margin-right: 10px;
}

.search-navbar__input{
    background-color: inherit;
    color: #fff;
    border: none;
    outline: none;
}

.userName{
    margin-left: 10px;
}

.list-products{
    padding: 0;
    color: #000;
}

.notification {
    position: relative;
  }

.notification .badge {
    position: absolute;
    top: -5px;
    right: -8px;
    padding: 5px 7px;
    border-radius: 50%;
    background: red;
    color: white;
  }

.navbar-nav .nav-link{
    font-weight: 600;
}

.list-group-item .nav-link{
    font-weight: 700;
    color: #000000;
}

.list-group-item .nav-link:hover{
    color: #7c7474;
}
