.add-to-cart-btn{
    width: 25%;
}

.divider{
    border-top: 1px solid #ddd;
    margin:20px 0;
}

.add-to-cart-btn{
    margin-left: 15px;
    margin-top: 20px;
}

.product-detail{
    margin-left: 30px;
    margin-top: auto;
}

.product-detail-row{
    padding: 50px 0;
}

.same-product{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.product-search{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
