.scroll-btn {
    background-color: aqua;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 100px;
    right: 40px;
    border-radius: 5px;
    border: none;
}

.scroll-btn:hover{
    background-color: rgb(37, 150, 150);
}

.arrow-up {
    color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -9px;
    margin-left: -5px;
  }

  .scroll-btn:hover .arrow-up{
    color: #fff;
}