.shopping-cart-table img{
    width: 120px;
    height: 120px;
}

.remove-product-from-cart{
    font-size: 25px;
}

.remove-product-from-cart:hover{
    color: red;
}

.table tr td{
    vertical-align: middle;
}

.shopping-cart-title{
    margin: 30px 0;
}

.shopping-cart-checkout p, .total-pay-title td{
    font-weight: 700;
    font-size: 18px;
}

.shopping-cart-checkout__btn{
    width: 20%;
    margin-left: auto;
    font-weight: 700;
    margin-bottom: 30px;
}