.image-manage-product{
    width: 50px;
    height: 50px;
}

.view-products_table-body tr td{
    vertical-align: middle;
}

.edit-product_btn{
    margin-right: 10px;
    color: #ffffff;
}

.delete-product_btn{
    color: #ffffff;
}

.delete-product_btn:hover, .edit-product_btn:hover{
    color: black;
}

.delete-user_btn{
    color: #ffffff;
}

.delete-user_btn:hover{
    color: black;
}

#file-upload{
    display: none;
}

.custom-file-upload {
    font-size: 25px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.dashboard-toolbar{
    margin-top: 0;
}

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
    padding: 16px 5px;
    margin: 5px 0;
}

.btn-toolbar{
    justify-content: end;
}

.css-wjh20t-MuiPagination-ul{
    justify-content: flex-end;
}

.action-edit-btn{
background-color: #0d6efd;
border-radius: 3px;
margin-right: 5px;
width: 30px;
}

.action-delete-btn{
    background-color: #ff0000ba;
    border-radius: 3px;
    margin-left: 5px;
    width: 30px;
}

.dashboard{
    position: relative;
}

.dashboard-bg{
    position: absolute;
    top: 50%;
    transform: translateY(50%);
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
