#form-edit-products {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .p {
    color: #bf1650;
    text-align: center;
  }
  
  .edit-products select,
  .edit-products input,   .edit-products .css-b62m3t-container
{
    display: block;
    box-sizing: border-box;
    width: 70%;
    border-radius: 4px;
    border: 1px solid #000;
    padding: 10px 15px;
    margin-bottom: 15px;
    font-size: 14px;
    margin-left: auto;
  }

  .edit-products .css-1s2u09g-control{
    border: none;
    outline: none;
  }
  
  .label,
  section > label {
    line-height: 2;
    text-align: left;
    display: block;
    margin-bottom: 13px;
    margin-top: 20px;
    color: white;
    font-size: 14px;
    font-weight: 700;
  }

  textarea{
      margin-left: auto;
      margin-bottom: 20px;
      width: 70%;
  }
  
 #cancel-edit-products-btn,
 #submit-edit-products-btn {
    margin: 20px;
    padding: 10px 20px;
  }

  #choose-image-product{
      border: none;
  }

  .error{
      color: red;
      margin-left: 30%;
  }

  .add-new-products a{
    text-decoration: none;
    color: #fff;
  }

  .edit-products .product-image,
  .edit-products .product-image-preview {
    display: block;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px 15px;
    margin-bottom: 15px;
    font-size: 14px;
    left: 30%;
    position: relative;
  }

  .image-preview{
    position: relative;
  }

  .image-preview img{
    width: 250px;
    height: 250px;
  }

  .avatar{
    position: absolute;
    bottom: -5px;
    left: 175px;
    z-index: 9;
  }

 @media only screen and (max-width: 767px){
  .image-preview image{
    width: 100px !important;
    height: 100px !important;
  }
 }

 #form-edit-orders{
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 }

 .edit-product{
   margin-top: 300px;
 }

 .edit-orders{
   margin-top: 100px;
 }